
<% if @name == "rick" && @name2 == "morty" %>
  <h2><%= @name %> and <%= @name2 %> are having a lovely tea ceremony. ah, geeze!</h2>
<% else %>
  <h2><%= @name %> and <%= @name2 %> are not having a lovely tea party because they're not rick and morty!</h2>
<% end %>