<!DOCTYPE html>
<html>

  <head>
    <link href="/style.css" rel="stylesheet" type="text/css">
<!--    <script src="main.js"></script>-->
    <meta charset="utf-8">
    <title>SPECIES INFO</title>
  </head>

  <body>

    <h1>Creature: {{species}}</h1>
    <h3>Family: {{family}}</h3>
    <h3>Habitat: {{habitat}}</h3>
    <h3>Main Diet: {{diet}}</h3>
    <h3>Planet of Origin: {{planet}}</h3>

    <a class="redirect" href="/creatures">Back</a>
    <a class="redirect" href="/">Home</a>

  </body>

</html>
