
<%= render 'header' %>

<div id="container">
  <h2><strong><%= @compliment[:text] %></strong></h2>
  <h2><a href="/">I'm still emotionally unfulfilled. Give me another compliment!</a></h2>
  <h2><a href="http://ruby-doc.org/">I'm ready to soldier on...</a></h2>
  <h3><a href="/compliments/new">Add a new compliment!</a></h3>
  <h4><a href="/compliments/list">List of the compliments</a></h4>
  
</div>